body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    width: 80%;
    font-size: 20px;
    margin-bottom: 24px;
}

h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

textarea {
    resize: none;
    width: 80%;
    font-size: 20px;
    height: 200px;
    margin-bottom: 8px;
}

button {
    font-size: 20px;
    margin-bottom: 32px;
    background-color: gray;
}